$color-woocommerce: #a46497;
$color-green: #7ad03a;
$color-red: #a00;
$color-orange: #ffba00;
$color-blue: #2ea2cc;
$color-primary: #ba933e;
$color-primary-text: white;
$color-secondary: #ebe9eb;
$color-secondary-text: #515151;
$color-highlight: #77a464;
$color-highligh-text: white;
$color-content-bg: #fff;
$color-subtext: #767676;
$color-bg-grey: #f5f5f5;
$color-i: #1a1a1a;
$color-white: #fff;
$color-grey: #666;
$color-border-grey:#e5e5e5;
$color-bg-2:#F8F8F8;
$color-footer: #999999;
$color-lgrey: #444444;