@import './style';

.title-nav {
    background: $color-bg-grey;
    padding: 15px 0px;

    .container {
        .description-nav {
            font-size: 16px;

            span {

                color: #666;

            }
        }
    }
}

section.top {
    padding: 10px 0px;
    background: $color-bg-grey;

    .container {

        .nav-top {

            li {

                a {

                    padding: 0 5px;
                    display: block;
                    transition: all .4s;

                    span {

                        margin: 0 5px;

                    }

                    &:hover {

                        color: $color-primary;

                    }

                    &.active {

                        color: $color-footer;

                    }

                }

            }

        }

    }

}

.navigation {

    .products-cart {
        .container {

            .heading-cart {

                font-size: 48px;

                @include media(sm) {
                    margin-bottom: 40px;
                }
            }

            .update-Complete {
                border-top: 2px solid $color-primary;
                padding: 20px;
                color: #515151;
                background: #f7f6f7;
                display: none;
                margin-bottom: 20px;

                i {
                    color: $color-primary;
                    margin-right: 5px;
                }

                &.active {

                    display: block;

                }

            }

            .control {
                border-radius: 4px;
                background-color: #f5f5f5;
                display: inline-flex;
                padding: 0px 5px;
                padding-top: 5px;

                input {
                    background-color: transparent;
                    width: 40px;
                    text-align: center;
                    height: 50px;
                }

                a {
                    display: block;

                    i {
                        font-size: 24px;
                        font-weight: 700;
                    }
                }
            }

            .erase {
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid black;
                border-radius: 50%;
                cursor: pointer;
                width: 25px;
                height: 25px;
            }

            table.table {
                width: 100%;
                border-collapse: collapse;

                @include media (sm) {
                    display: none;
                }

                thead,
                tbody {
                    tr {

                        border-bottom: 1px solid rgba(0, 0, 0, .1);

                        th,
                        .heading-product {
                            font-size: 16px;
                            font-weight: 700;
                        }

                        th,
                        td {
                            border-right: 0;
                            border-top: 0;
                            padding: 20px 15px;
                            text-align: left;
                        }

                        td {
                            font-size: 14px;



                            .img {
                                width: 110px;

                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            .cart-on-mb {
                display: none;

                @include media (sm) {
                    display: block;
                }

                span {
                    color: #999999;
                }

                .product-item-cart {

                    padding: 20px;
                    border: 1px solid #ccc;
                    margin-bottom: 20px;


                    .price {
                        margin: 20px 0;
                    }

                    .remove-item {
                        justify-content: flex-end;
                        margin-bottom: 20px;
                    }

                }

            }

            .coupon {
                padding: 20px 0px;
                border-bottom: 1px solid rgba(0, 0, 0, .1);
                flex-wrap: wrap;

                @include media(sm) {

                    padding: 20px;
                    margin-top: 40px;
                    border: 1px solid rgba(0, 0, 0, .1);

                }


                &-input {
                    @include media(xs) {
                        width: 100%;
                    }

                    input {
                        height: 43px;
                        width: auto;
                        padding: 10px;
                        border-radius: 4px;
                        border: 2px solid $color-border-grey;
                        margin-right: 5px;

                        &:focus {
                            box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
                        }
                    }

                    @include media(xs) {
                        input {
                            width: 100%;
                            margin-right: 0px;
                        }

                        flex-wrap: wrap;

                        a {
                            margin: 20px 0;
                            width: 100%;
                            text-align: center;
                        }
                    }



                }

                .btn {
                    padding: 12px 25px;

                    @include media(xs) {
                        width: 100%;
                        text-align: center;
                    }

                }

                .update {

                    opacity: 0.6;

                    &:hover {
                        color: inherit;
                        background-color: $color-secondary;
                        cursor: not-allowed;
                    }

                    &.active {

                        opacity: 1;
                        color: $color-white;
                        background: $color-i;

                        &:hover {

                            color: $color-white;
                            background: $color-primary;
                            cursor: pointer;

                        }
                    }

                }
            }

            .cart_totals {

                font-weight: 700;

                .heading {
                    margin: 40px 0 30px;
                    font-size: 28px;

                }

                .sub-totals {
                    font-size: 16px;
                    color: #444444;
                    border-bottom: 1px solid rgba(0, 0, 0, .1);
                    padding: 15px 0px;
                }

                .total {
                    border-bottom: 1px solid rgba(0, 0, 0, .1);
                    font-size: 20px;
                    padding: 15px 0px;

                    span {
                        &:last-child {
                            color: $color-primary;
                        }
                    }

                }

                .checkout {
                    margin-top: 80px;
                    padding: 20px 0px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    a {

                        padding: 15px 20px;

                        i {
                            margin-left: 10px;
                        }
                    }
                }

            }

            .comeback {

                padding: 15px 30px;
                // display: ;
                margin-top: 50px;

            }

        }
    }
}