@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

input, button, textarea {
  outline: none;
  border: none;
}

a, button {
  text-decoration: none;
  color: #1a1a1a;
  border: none;
}

@-webkit-keyframes down {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes down {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes leftRight {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  20% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  40% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  60% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  80% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes leftRight {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  20% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  40% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  60% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  80% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes updown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes updown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@-webkit-keyframes LeftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes LeftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes RightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes RightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.animation1 {
  -webkit-animation: updown 2s forwards;
          animation: updown 2s forwards;
}

.animation2 {
  -webkit-animation: LeftToRight 4s forwards;
          animation: LeftToRight 4s forwards;
}

.animation3 {
  -webkit-animation: RightToLeft 4s forwards;
          animation: RightToLeft 4s forwards;
}

* {
  font-family: "Red Hat Display", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.j-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  width: 90%;
  max-width: 1411px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

.container-element {
  max-width: 900px;
  margin: 0 auto;
}

.p-80 {
  padding: 80px 0;
}

body,
html {
  scroll-behavior: smooth;
}

.banner {
  position: relative;
}

.banner:hover::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 1;
}

.banner:hover::before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 1;
}

.banner::before, .banner::after {
  width: 100%;
  height: 100%;
  -webkit-transition: all .6s;
  transition: all .6s;
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  opacity: 0;
  z-index: 10;
  top: 0;
}

@media screen and (max-width: 992px) {
  .banner::before, .banner::after {
    content: none;
  }
}

.btn {
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  border-radius: 5px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn-primary {
  color: #fff;
  background-color: #1a1a1a;
}

.btn-primary:hover {
  color: #fff;
  background: #ba933e;
}

html::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
  width: 3px;
}

html::-webkit-scrollbar-track {
  background: #ccc;
}

html::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.backtotop {
  position: fixed;
  right: 30px;
  bottom: 1000px;
  font-size: 18px;
  background: #1a1a1a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 20;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  color: white;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.backtotop.active {
  opacity: 1;
  visibility: visible;
  bottom: 70px;
}

@media screen and (max-width: 576px) {
  .backtotop.active {
    bottom: 100px;
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.loaded {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 52;
  display: none;
}

.loaded .lds-ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loaded.active {
  display: block;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1201px) {
  .row .col-xl-1 {
    padding: 15px;
    width: 8.33333%;
  }
  .row .col-xl-2 {
    padding: 15px;
    width: 16.66667%;
  }
  .row .col-xl-3 {
    padding: 15px;
    width: 25%;
  }
  .row .col-xl-4 {
    padding: 15px;
    width: 33.33333%;
  }
  .row .col-xl-5 {
    padding: 15px;
    width: 41.66667%;
  }
  .row .col-xl-6 {
    padding: 15px;
    width: 50%;
  }
  .row .col-xl-7 {
    padding: 15px;
    width: 58.33333%;
  }
  .row .col-xl-8 {
    padding: 15px;
    width: 66.66667%;
  }
  .row .col-xl-9 {
    padding: 15px;
    width: 75%;
  }
  .row .col-xl-10 {
    padding: 15px;
    width: 83.33333%;
  }
  .row .col-xl-11 {
    padding: 15px;
    width: 91.66667%;
  }
  .row .col-xl-12 {
    padding: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .row .col-lg-1 {
    padding: 15px;
    width: 8.33333%;
  }
  .row .col-lg-2 {
    padding: 15px;
    width: 16.66667%;
  }
  .row .col-lg-3 {
    padding: 15px;
    width: 25%;
  }
  .row .col-lg-4 {
    padding: 15px;
    width: 33.33333%;
  }
  .row .col-lg-5 {
    padding: 15px;
    width: 41.66667%;
  }
  .row .col-lg-6 {
    padding: 15px;
    width: 50%;
  }
  .row .col-lg-7 {
    padding: 15px;
    width: 58.33333%;
  }
  .row .col-lg-8 {
    padding: 15px;
    width: 66.66667%;
  }
  .row .col-lg-9 {
    padding: 15px;
    width: 75%;
  }
  .row .col-lg-10 {
    padding: 15px;
    width: 83.33333%;
  }
  .row .col-lg-11 {
    padding: 15px;
    width: 91.66667%;
  }
  .row .col-lg-12 {
    padding: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .row .col-md-1 {
    padding: 15px;
    width: 8.33333%;
  }
  .row .col-md-2 {
    padding: 15px;
    width: 16.66667%;
  }
  .row .col-md-3 {
    padding: 15px;
    width: 25%;
  }
  .row .col-md-4 {
    padding: 15px;
    width: 33.33333%;
  }
  .row .col-md-5 {
    padding: 15px;
    width: 41.66667%;
  }
  .row .col-md-6 {
    padding: 15px;
    width: 50%;
  }
  .row .col-md-7 {
    padding: 15px;
    width: 58.33333%;
  }
  .row .col-md-8 {
    padding: 15px;
    width: 66.66667%;
  }
  .row .col-md-9 {
    padding: 15px;
    width: 75%;
  }
  .row .col-md-10 {
    padding: 15px;
    width: 83.33333%;
  }
  .row .col-md-11 {
    padding: 15px;
    width: 91.66667%;
  }
  .row .col-md-12 {
    padding: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .row .col-sm-1 {
    padding: 15px;
    width: 8.33333%;
  }
  .row .col-sm-2 {
    padding: 15px;
    width: 16.66667%;
  }
  .row .col-sm-3 {
    padding: 15px;
    width: 25%;
  }
  .row .col-sm-4 {
    padding: 15px;
    width: 33.33333%;
  }
  .row .col-sm-5 {
    padding: 15px;
    width: 41.66667%;
  }
  .row .col-sm-6 {
    padding: 15px;
    width: 50%;
  }
  .row .col-sm-7 {
    padding: 15px;
    width: 58.33333%;
  }
  .row .col-sm-8 {
    padding: 15px;
    width: 66.66667%;
  }
  .row .col-sm-9 {
    padding: 15px;
    width: 75%;
  }
  .row .col-sm-10 {
    padding: 15px;
    width: 83.33333%;
  }
  .row .col-sm-11 {
    padding: 15px;
    width: 91.66667%;
  }
  .row .col-sm-12 {
    padding: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .row .col-xs-1 {
    padding: 15px;
    width: 8.33333%;
  }
  .row .col-xs-2 {
    padding: 15px;
    width: 16.66667%;
  }
  .row .col-xs-3 {
    padding: 15px;
    width: 25%;
  }
  .row .col-xs-4 {
    padding: 15px;
    width: 33.33333%;
  }
  .row .col-xs-5 {
    padding: 15px;
    width: 41.66667%;
  }
  .row .col-xs-6 {
    padding: 15px;
    width: 50%;
  }
  .row .col-xs-7 {
    padding: 15px;
    width: 58.33333%;
  }
  .row .col-xs-8 {
    padding: 15px;
    width: 66.66667%;
  }
  .row .col-xs-9 {
    padding: 15px;
    width: 75%;
  }
  .row .col-xs-10 {
    padding: 15px;
    width: 83.33333%;
  }
  .row .col-xs-11 {
    padding: 15px;
    width: 91.66667%;
  }
  .row .col-xs-12 {
    padding: 15px;
    width: 100%;
  }
}

@keyframes down {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes leftRight {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  20% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  40% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  60% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  80% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes updown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes LeftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes RightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.animation1 {
  -webkit-animation: updown 2s forwards;
          animation: updown 2s forwards;
}

.animation2 {
  -webkit-animation: LeftToRight 4s forwards;
          animation: LeftToRight 4s forwards;
}

.animation3 {
  -webkit-animation: RightToLeft 4s forwards;
          animation: RightToLeft 4s forwards;
}

header .header_first {
  font-size: 14px;
  background-color: #f5f5f5;
}

@media screen and (max-width: 576px) {
  header .header_first {
    display: none;
  }
}

header .header_first .container {
  max-width: 100%;
  width: 97%;
}

header .header_first .container a {
  -webkit-transition: all .4s;
  transition: all .4s;
}

header .header_first .container a i {
  color: #666;
  -webkit-transition: all .4s;
  transition: all .4s;
}

header .header_first .container a:hover {
  color: #ba933e;
}

header .header_first .container a:hover i {
  color: inherit;
}

@media screen and (max-width: 1200px) {
  header .header_first .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .header_first .container .header_first-contact {
  justify-self: flex-start;
}

@media screen and (max-width: 1200px) {
  header .header_first .container .header_first-contact {
    display: none;
  }
}

header .header_first .container .header_first-contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: block;
  font-weight: 100;
}

header .header_first .container .header_first-contact a:first-child {
  margin-right: 40px;
}

header .header_first .container .header_first-contact a i {
  margin-right: 5px;
  font-size: 14px;
}

header .header_first .container .outstanding {
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 22px 0px;
}

header .header_first .container .outstanding .content .btn {
  display: inline-block;
  border-radius: 5px;
  background-color: #ba933e;
  color: #fff;
  font-weight: 700;
  padding: 3px 8px;
  margin-left: 8px;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  header .header_first .container .outstanding .content .btn {
    font-size: 12px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .header_first .container .menu {
  justify-self: flex-end;
}

@media screen and (max-width: 1200px) {
  header .header_first .container .menu {
    display: none;
  }
}

header .header_first .container .menu ul li {
  position: relative;
}

header .header_first .container .menu ul li a {
  display: inline-block;
  padding: 5px 10px;
}

header .header_first .container .menu .region ul li a i {
  font-size: 8px;
  margin-left: 3px;
}

header .header_first .container .menu .region ul li:hover .second-nav {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  z-index: 20;
}

header .header_first .container .menu .region ul li ul.second-nav {
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  right: 0;
  padding: 15px;
  border-radius: 0 0 5px 5px;
  min-width: 150px;
  top: 30px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

header .header_first .container .menu .region ul li ul.second-nav li {
  width: 100%;
}

header .header_first .container .menu .region ul li ul.second-nav li a {
  padding: 5px 10px;
  color: #1a1a1a;
  display: block;
}

header .header_first .container .menu .region ul li ul.second-nav li a:hover {
  color: #ba933e;
}

header .header_first .container .menu-icon ul li a i {
  font-size: 14px;
}

header .main-header {
  font-size: 16px;
  -webkit-box-shadow: 0px 0px 3px #ccc;
          box-shadow: 0px 0px 3px #ccc;
}

header .main-header .container {
  max-width: 100%;
  width: 97%;
  position: relative;
}

header .main-header .container li i {
  font-size: 16px;
  color: #666;
}

header .main-header .container li:hover > a {
  color: #ba933e;
}

header .main-header .container li:hover > a i {
  color: #ba933e;
}

header .main-header .container .bar-mobile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 24px;
  display: none;
  margin-left: 20px;
}

header .main-header .container .bar-mobile .bar {
  height: 100%;
}

@media screen and (max-width: 1200px) {
  header .main-header .container .bar-mobile {
    display: block;
  }
}

header .main-header .container .logo {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 1200px) {
  header .main-header .container .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

header .main-header .container .logo img {
  cursor: pointer;
  max-width: 130px;
}

header .main-header .container nav.main-nav {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 0 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1200px) {
  header .main-header .container nav.main-nav {
    display: none;
  }
}

header .main-header .container nav.main-nav ul {
  text-align: center;
}

header .main-header .container nav.main-nav ul li {
  position: relative;
}

header .main-header .container nav.main-nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 24px;
  -webkit-transition: all .4s;
  transition: all .4s;
  height: 85px;
}

header .main-header .container nav.main-nav ul li a i {
  margin-top: 3px;
  font-size: 10px;
  margin-left: 7px;
}

header .main-header .container nav.main-nav ul li a.active {
  color: #ba933e;
}

header .main-header .container nav.main-nav ul li a.active i {
  color: #ba933e;
}

header .main-header .container nav.main-nav ul li.notRelative {
  position: unset;
}

header .main-header .container nav.main-nav ul li .nav-mini {
  -webkit-box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  background: #fff;
  position: absolute;
  -webkit-transform-origin: top;
          transform-origin: top;
  visibility: hidden;
  z-index: 10;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .main-header .container nav.main-nav ul li .nav-mini a {
  height: auto;
}

header .main-header .container nav.main-nav ul li .second-nav {
  top: 100%;
  left: 0px;
  min-width: 200px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

header .main-header .container nav.main-nav ul li .second-nav1 {
  min-width: 900px;
  background-image: url(https://blueskytechco.com/rubix/wp-content/uploads/2021/05/bg_update.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center right;
  background-size: auto;
  padding: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(0);
          transform: translateX(-50%) scaleY(0);
  max-width: 100%;
  width: 100%;
  text-align: left;
  font-size: 16px;
}

header .main-header .container nav.main-nav ul li .second-nav1 .heading {
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: capitalize;
}

header .main-header .container nav.main-nav ul li .second-nav1 .list-item {
  width: 100%;
}

header .main-header .container nav.main-nav ul li .second-nav1 .list-item li a {
  display: block;
  width: 100%;
  padding: 8px 0px;
  text-align: left;
}

header .main-header .container nav.main-nav ul li .second-nav1 > li {
  width: 25%;
  max-width: 280px;
}

header .main-header .container nav.main-nav ul li:hover .second-nav {
  visibility: visible;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

header .main-header .container nav.main-nav ul li:hover .second-nav1 {
  visibility: visible;
  -webkit-transform: translateX(-50%) scaleY(1);
          transform: translateX(-50%) scaleY(1);
}

header .main-header .container .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .main-header .container .menu i {
  font-size: 18px;
}

header .main-header .container .menu .login-regis {
  border-right: 1px solid #ccc;
  padding-right: 30px;
}

@media screen and (max-width: 1200px) {
  header .main-header .container .menu .login-regis {
    display: none;
  }
}

header .main-header .container .menu .login-regis a:hover {
  color: #ba933e;
}

header .main-header .container .menu .login-regis a:hover i {
  color: #ba933e;
}

header .main-header .container .menu .login-regis a span {
  margin: 0 5px;
}

header .main-header .container .menu .login-regis i {
  margin-right: 10px;
}

header .main-header .container .menu .mini-menu {
  margin-left: 15px;
}

header .main-header .container .menu .mini-menu ul li {
  position: relative;
}

header .main-header .container .menu .mini-menu ul li a {
  display: inline-block;
  padding: 0px 20px;
}

header .main-header .container .menu .mini-menu ul li.item .before {
  width: 12px;
  height: 12px;
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 14px;
}

header .main-header .container .menu .mini-menu ul li.item:hover {
  color: #ba933e;
}

header .main-header .container .menu .mini-menu ul li.item:hover a {
  color: #ba933e;
}

header .main-header .container .menu .mini-menu ul li.item:hover a i {
  color: #ba933e;
}

@media screen and (max-width: 992px) {
  header .main-header .container .menu .mini-menu ul li.addWishlist, header .main-header .container .menu .mini-menu ul li#search {
    display: none;
  }
}

header .main-header.active {
  position: fixed;
  z-index: 11;
  width: 100%;
  top: 0;
  background: #fff;
  -webkit-animation: down 1s forwards;
          animation: down 1s forwards;
}

@media screen and (max-width: 576px) {
  header .main-header.active {
    -webkit-animation: none;
            animation: none;
    position: absolute;
    display: block;
  }
}

.menu-mobile-overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  content: '';
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
  opacity: 0;
  visibility: hidden;
}

@media screen and (min-width: 1201px) {
  .menu-mobile-overlay {
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

.menu-mobile-overlay.active {
  opacity: 1;
  visibility: visible;
}

.menu-mobile-overlay.active .content-menu {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu-mobile-overlay .content-menu {
  -webkit-transition: all .4s;
  transition: all .4s;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  max-width: 375px;
  height: 100vh;
  z-index: 20;
  max-width: 375px;
  padding: 30px;
  overflow: auto;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.menu-mobile-overlay .content-menu .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.menu-mobile-overlay .content-menu .searching .searching-title {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .menu-mobile-overlay .content-menu .searching .searching-title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #1a1a1a;
  }
}

.menu-mobile-overlay .content-menu .searching .suggets ul {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-mobile-overlay .content-menu .searching .suggets ul li {
  margin: 12px 5px;
}

.menu-mobile-overlay .content-menu .searching .search {
  margin: 20px 0;
}

.menu-mobile-overlay .content-menu .searching .search input {
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px;
}

.menu-mobile-overlay .content-menu .searching .search i {
  padding-right: 10px;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile {
  margin-top: 10px;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile ul.nav-level-1 > li {
  position: relative;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile ul.nav-level-1 > li > a {
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
  border-bottom: 1px solid #e5e5e5;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile ul li {
  position: relative;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile ul li a {
  width: 100%;
  display: block;
  padding: 15px 0;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile .bi.bi-chevron-down {
  position: absolute;
  right: 0;
  top: 20px;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile .menu-level2 {
  padding-left: 20px;
  display: none;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile .menu-level2.active {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  visibility: visible;
  display: block;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile .menu-level2 a {
  display: block;
  padding: 10px 0px;
}

.menu-mobile-overlay .content-menu nav.main-menu-mobile .menu-level2 .menu-level-3 {
  display: none;
}

.menu-mobile-overlay .content-menu .bottom {
  margin-top: 60px;
}

.menu-mobile-overlay .content-menu .bottom .my-account li {
  border-bottom: 1px solid #e5e5e5;
}

.menu-mobile-overlay .content-menu .bottom .my-account li a {
  padding: 15px 0;
  display: inline-block;
}

.menu-mobile-overlay .content-menu .bottom .my-account li i {
  font-size: 18px;
}

.menu-mobile-overlay .content-menu::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
  width: 3px;
}

.menu-mobile-overlay .content-menu::-webkit-scrollbar-track {
  background: #ccc;
}

.menu-mobile-overlay .content-menu::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

ul.side-sticky-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background: #fff;
  display: none;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 576px) {
  ul.side-sticky-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

ul.side-sticky-icons li {
  position: relative;
}

ul.side-sticky-icons li a,
ul.side-sticky-icons li .bar {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  color: #999;
  line-height: 1;
  padding: 12px 15px 10px;
  text-transform: capitalize;
  cursor: pointer;
}

ul.side-sticky-icons li a i,
ul.side-sticky-icons li .bar i {
  font-size: 18px;
  margin-bottom: 8px;
  color: #1a1a1a;
}

ul.side-sticky-icons li .before {
  position: absolute;
  top: 0;
  right: 45%;
  -webkit-transform: translate(100%, 30%);
          transform: translate(100%, 30%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  background: #ba933e;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-search {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 15;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
}

.form-search .container-element h2 {
  margin-top: 110px;
  font-size: 30px;
}

.form-search .container-element ul {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
}

.form-search .container-element ul li {
  margin: 10px 10px;
  cursor: pointer;
}

.form-search .container-element ul li.active {
  color: #ba933e;
}

.form-search .container-element .searchProduct {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

.form-search .container-element .searchProduct input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 15px;
}

.form-search .container-element .searchProduct i {
  font-size: 18px;
  padding-right: 20px;
  cursor: pointer;
}

.form-search .close {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 40px;
  cursor: pointer;
}

.form-search.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cart {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 21;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.cart .products-cart {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  max-width: 340px;
  width: 100%;
  height: 100vh;
  background: white;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 22;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.cart .products-cart h4 {
  padding: 20px 30px;
  background: #f5f5f5;
  font-size: 18px;
}

.cart .products-cart span.close {
  position: absolute;
  font-size: 30px;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.cart .products-cart .mini-cart {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  display: none;
}

.cart .products-cart .mini-cart-list {
  height: 100%;
  width: 100%;
}

.cart .products-cart .mini-cart-list #mini-cart-product {
  overflow: auto;
  max-height: 666px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.cart .products-cart .mini-cart-list #mini-cart-product li {
  margin-bottom: 15px;
  position: relative;
}

.cart .products-cart .mini-cart-list #mini-cart-product li a {
  display: block;
}

.cart .products-cart .mini-cart-list #mini-cart-product li a img {
  width: 70px;
  margin-right: 15px;
}

.cart .products-cart .mini-cart-list #mini-cart-product li a:hover {
  color: #ba933e;
}

.cart .products-cart .mini-cart-list #mini-cart-product li .quantity {
  font-size: 14px;
  width: 50%;
  position: relative;
}

.cart .products-cart .mini-cart-list #mini-cart-product li .quantity a {
  font-weight: 700;
  color: #1a1a1a;
  line-height: 1.4;
  font-size: 14px;
}

.cart .products-cart .mini-cart-list #mini-cart-product li .quantity span {
  margin: 10px 0;
}

.cart .products-cart .mini-cart-list #mini-cart-product li .erase {
  position: absolute;
  right: 20px;
  top: 0px;
  cursor: pointer;
  font-size: 20px !important;
  color: #999999;
}

.cart .products-cart .mini-cart-list #mini-cart-product::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
  width: 3px;
}

.cart .products-cart .mini-cart-list #mini-cart-product::-webkit-scrollbar-track {
  background: #ccc;
}

.cart .products-cart .mini-cart-list #mini-cart-product::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}

.cart .products-cart .mini-cart-bottom {
  width: 100%;
  margin-top: 30px;
}

.cart .products-cart .mini-cart-bottom .total {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: auto;
  width: 100%;
  height: 100%;
  font-size: 18px;
  margin-bottom: 25px;
}

.cart .products-cart .mini-cart-bottom .total strong {
  color: #1a1a1a;
}

.cart .products-cart .mini-cart-bottom .total .sub-total {
  color: #ba933e;
  font-weight: 700;
}

.cart .products-cart .mini-cart-bottom .group-btn .btn {
  width: 100%;
  display: block;
  text-align: center;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 15px;
}

.cart .products-cart .mini-cart.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart .products-cart .no-product {
  padding-left: 40px;
  margin-top: 30px;
}

.cart .products-cart .no-product.active {
  display: none;
}

.cart.active {
  visibility: visible;
  opacity: 1;
}

.cart.active .products-cart {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

footer#footer {
  background: #1a1a1a;
  color: #fff;
}

footer#footer a {
  color: #999999;
}

footer#footer a i {
  color: white;
}

footer#footer .top {
  border-bottom: 1px solid #313131;
}

@media screen and (max-width: 576px) {
  footer#footer .top .container .list-footer {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer#footer .top .container .list-footer ul {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer#footer .top .container .list-footer .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  footer#footer .top .container .list-footer .item-footer:first-child {
    margin-bottom: 30px;
  }
}

footer#footer .top .container .list-footer .item-footer .heading {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: -7px;
}

footer#footer .top .container .list-footer .item-footer a {
  font-size: 14px;
}

footer#footer .top .container .list-footer .item-footer .list-icon {
  margin-top: 26px;
}

footer#footer .top .container .list-footer .item-footer .list-icon li a {
  display: inline-block;
  margin-right: 30px;
}

footer#footer .top .container .list-footer .item-footer .list-icon li a i {
  font-size: 27px;
}

footer#footer .top .container .list-footer .item-footer .list-contact li a {
  display: block;
  padding: 4px 0px;
}

footer#footer .top .container .list-footer .item-footer .content {
  font-size: 14px;
  color: #999999;
}

footer#footer .top .container .list-footer .item-footer .content i {
  color: #999999;
  font-size: 20px;
  margin-right: 10px;
}

footer#footer .top .container .list-footer .item-footer .content .main-content {
  line-height: 26px;
}

footer#footer .top .container .list-footer .item-footer .content .main-content span {
  display: block;
  text-decoration: underline;
}

footer#footer .top .container .list-footer .item-footer .address {
  margin-top: 25px;
}

footer#footer .copyright {
  padding: 30px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  footer#footer .copyright .container {
    display: block;
    text-align: center;
  }
  footer#footer .copyright .container p {
    margin-bottom: 20px;
  }
}

footer#footer .copyright .container img {
  width: 100%;
}

footer#footer .copyright p {
  color: #999999;
}

footer#footer .copyright p a {
  color: #fff;
}

.main-content-checkout .container .title-checkout {
  font-size: 48px;
  margin-bottom: 40px;
}

.main-content-checkout .container .checkout {
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 992px) {
  .main-content-checkout .container .checkout {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 !important;
  }
}

.main-content-checkout .container .checkout .checkout-left {
  padding-right: 50px;
}

.main-content-checkout .container .checkout .checkout-left .heading {
  font-size: 28px;
  color: #1a1a1a;
}

.main-content-checkout .container .checkout .checkout-left .content .input-group {
  margin: 20px 0px;
}

.main-content-checkout .container .checkout .checkout-left .content .input-group input,
.main-content-checkout .container .checkout .checkout-left .content .input-group select {
  border: 1px solid #e5e5e5;
  max-width: 100%;
  padding: 0 20px;
  width: 100%;
  background: #fff;
  height: 50px;
  border-radius: 3px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 10px;
  font-size: 16px;
  outline: none;
}

.main-content-checkout .container .checkout .checkout-left .content .input-group select {
  text-transform: capitalize;
}

.main-content-checkout .container .checkout .checkout-left .content .form-group .input-group {
  width: 48%;
}

.main-content-checkout .container .checkout .checkout-left .content .form-group .input-group input:first-child {
  margin-right: 20px;
}

.main-content-checkout .container .checkout-right {
  margin-top: 30px;
  padding: 40px;
  color: #444444;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
}

.main-content-checkout .container .checkout-right .heading {
  font-size: 26px;
  color: #1a1a1a;
}

.main-content-checkout .container .checkout-right table.table1 {
  border-collapse: collapse;
  width: 100%;
}

.main-content-checkout .container .checkout-right table.table1 tr {
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.main-content-checkout .container .checkout-right table.table1 tr td,
.main-content-checkout .container .checkout-right table.table1 tr th {
  padding: 20px 0;
}

.main-content-checkout .container .checkout-right table.table1 tr td:last-child,
.main-content-checkout .container .checkout-right table.table1 tr th:last-child {
  text-align: right;
}

.main-content-checkout .container .checkout-right table.table1 tr.Subtotal-price th {
  font-size: 18px;
}

.main-content-checkout .container .checkout-right table.table1 tr.total-price {
  font-size: 20px;
}

.main-content-checkout .container .checkout-right table.table1 tr.total-price td {
  color: #ba933e;
}

.main-content-checkout .container .checkout-right table.table1 tr.item th,
.main-content-checkout .container .checkout-right table.table1 tr.item td {
  font-weight: 700;
}

.main-content-checkout .container .checkout-right table.table1 thead tr th {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
}

.main-content-checkout .container .checkout-right .payment {
  margin-top: 20px;
}

.main-content-checkout .container .checkout-right .payment .cash {
  word-wrap: break-word;
  line-height: 30px;
  letter-spacing: 1.1;
  margin-bottom: 20px;
}

.main-content-checkout .container .checkout-right .payment .order {
  display: block;
  padding: 15px 0;
  text-align: center;
  margin-top: 30px;
}

.main-content-checkout .container .checkout-right .payment input[type="checkbox"] {
  display: none;
}

.main-content-checkout .container .checkout-right .payment input[type="checkbox"]:checked ~ label::before {
  display: block;
}

.main-content-checkout .container .checkout-right .payment label {
  padding-left: 25px;
  position: relative;
}

.main-content-checkout .container .checkout-right .payment label::after, .main-content-checkout .container .checkout-right .payment label:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
  border-radius: 0px;
}

.main-content-checkout .container .checkout-right .payment label::after {
  width: 15px;
  height: 15px;
  border: 1px solid black;
}

.main-content-checkout .container .checkout-right .payment label::before {
  width: 13px;
  height: 12px;
  background: #ba933e;
  left: 2.5px;
  display: none;
}
/*# sourceMappingURL=checkout.css.map */