@import 'style';

.slider {
    .owl-carousel {
        .item {
            position: relative;

            .content {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);

                .container {
                    @include media(lg) {
                        width: 80%;
                    }

                    .title-sale {
                        color: #444444;
                        font-size: 20px;
                        font-weight: 700;

                        span {
                            color: $color-primary;
                        }

                        @include media(md) {
                            font-size: 12px;
                        }

                        @include media(sm) {
                            font-size: 14px;
                        }

                        @include media(xs) {
                            font-size: 10px;
                        }

                    }

                    h2 {
                        font-size: 48px;
                        margin-top: 15px;
                        margin-bottom: 25px;


                        @include media(lg) {
                            font-size: 31px;
                        }

                        @include media(md) {
                            font-size: 28px;
                        }

                        @include media(sm) {
                            font-size: 26px;
                        }

                        @include media(xs) {
                            font-size: 20px;
                        }
                    }

                    .btn {
                        padding: 9px 30px 11px;
                        border-radius: 4px;
                        line-height: 32px;


                        @include media(lg) {
                            font-size: 16px
                        }

                        @include media(md) {
                            font-size: 12px;
                        }

                        @include media(sm) {
                            font-size: 14px;
                        }

                        @include media(xs) {
                            font-size: 10px;
                            padding: 5px 10px;
                        }
                    }

                }
            }
        }

        .owl-nav {
            @include owlnav(0, 20px, 20px);

            button {
                cursor: pointer;

                &.owl-prev,
                &.owl-next {
                    background: rgba($color-white, 0.8);
                    color: $color-i;

                    &:hover {
                        color: $color-white;
                        background: $color-primary;
                    }
                }

            }

        }

        .owl-dots {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -100%);

            .owl-dot {

                span {
                    background: $color-primary;
                    width: 12px;
                    height: 12px;

                    @include media (xs) {
                        width: 5px;
                        height: 5px;
                    }
                }

                &:hover {
                    span {
                        background: $color-primary;
                    }
                }

                &.active {
                    span {
                        box-sizing: content-box;
                        background: none;
                        border: 2px solid $color-primary;
                    }

                }
            }
        }

        &:hover {
            .owl-nav {
                opacity: 1;
            }
        }
    }

}

.trending {

    .container {

        .banners {
            margin-bottom: 80px;


            .banner {
                @include media(md) {

                    &:last-child {
                        text-align: right;

                        .content-banner {
                            background: rgb(240, 240, 240);

                            .content {
                                text-align: left;
                            }
                        }

                        img {
                            width: auto;
                        }
                    }

                }

                @include media(xs) {

                    img {
                        width: 100% !important;
                    }

                }

                .content-banner {
                    position: relative;
                }

                img {
                    width: 100%;
                }

                .content {
                    position: absolute;
                    top: 20%;
                    left: 9%;

                    h4 {
                        margin-bottom: 5px;

                        a {
                            font-family: "Red Hat Display", Sans-serif;
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 1;

                        }
                    }

                    span {
                        text-decoration: underline;
                        color: $color-primary;
                        font-weight: 700;
                        font-size: 14px;
                    }
                }

            }

        }

        .trending-product {

            .products {
                .product {

                    margin-top: 20px;
                    position: relative;
                    overflow: hidden;

                    .img {
                        overflow: hidden;
                        display: inline-block;
                        position: relative;

                        a:first-child {

                            @include media(lg) {
                                height: auto;
                            }

                            height: auto;
                            display: block;
                            z-index: 1;

                            img {
                                object-fit: cover;
                                object-position: center;
                                width: 100%;
                                transition: all .5s;

                                &:nth-child(2) {
                                    opacity: 0;
                                    top: 0;
                                    left: 0;
                                    position: absolute;
                                    z-index: 2;
                                }
                            }
                        }

                        .btn {
                            width: 90%;
                            margin: 0 auto;
                            display: inline-block;
                            padding: 10px 0px;
                            background: black;
                            color: white;
                            text-align: center;
                            border-radius: 5px;
                            transition: all .3s;
                            position: absolute;
                            bottom: 0px;
                            left: 50%;
                            transform: translate(-50%, 100%);
                            opacity: 0;
                            font-weight: bold;
                            z-index: 3;
                            cursor: pointer;

                            i {
                                margin-right: 5px;
                            }

                            &:hover {
                                background: $color-primary;

                            }
                        }

                        .action {
                            position: absolute;

                            li {
                                position: relative;
                                width: 40px;
                                height: 40px;
                                background: $color-white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin: 10px 4px;
                                cursor: pointer;
                                z-index: 3;
                                transition: 0.5s;
                                border-radius: 5px;
                                color: $color-grey;

                                &:hover {
                                    background: $color-primary;
                                    color: $color-white;
                                }
                            }
                        }

                        .action1 {
                            top: 10px;
                            right: 10px;

                            li {
                                transform: translateX(60px);

                                span {
                                    position: absolute;
                                    z-index: 3;
                                    right: 50px;
                                    top: 50%;
                                    transform: translateY(-50%) translateX(-20%);
                                    white-space: nowrap;
                                    background: $color-white;
                                    color: #333;
                                    font-size: 12px;
                                    border-radius: 4px;
                                    padding: 4px 6px;
                                    pointer-events: none;
                                    opacity: 0;
                                    transition: .5s;

                                    &::before {
                                        content: '';
                                        position: absolute;
                                        top: 50%;
                                        right: -4px;
                                        width: 8px;
                                        height: 8px;
                                        background: #fff;
                                        transform: translateY(-50%) rotate(45deg);
                                    }
                                }

                                &:hover {

                                    span {
                                        transform: translateY(-50%) translateX(0%);
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        .action2 {
                            display: none;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            z-index: 3;
                        }

                        @include media(lg) {

                            button.btn {
                                display: none;
                            }

                            .action1 {

                                display: none;

                            }

                            .action2 {
                                display: flex;
                            }
                        }
                    }

                    &:hover {

                        .img {
                            a {
                                img:nth-child(2) {
                                    opacity: 1;
                                }
                            }

                            .btn {
                                opacity: 1;
                                transform: translate(-50%, -50%);
                            }

                            ul.action {
                                li {
                                    transform: translateX(0px);

                                }
                            }
                        }
                    }

                    .content-pro {

                        h4 {
                            margin-top: 10px;
                        }

                        .price {
                            font-size: 14px;
                            padding: 5px 0px;
                            color: $color-grey;
                        }

                    }
                }

                .owl-nav {
                    @include owlnav(0, 20px, 20px);

                    button {
                        cursor: pointer;

                        &.owl-prev,
                        &.owl-next {
                            background: rgba($color-white, 0.8);
                            color: $color-i;

                            &:hover {
                                color: $color-white;
                                background: $color-primary;
                            }
                        }

                    }

                }
            }
        }
    }
}

.title {
    text-align: center;

    h3 {
        span {
            font-size: 28px;
            font-weight: bold;
        }

        margin-bottom: 7px;
    }

    .sub {
        p {
            font-size: 16px;
        }

        margin-bottom: 50px;

        @include media(xs) {
            margin-bottom: 10px;
        }
    }
}

section.banner {

    background-image: url('../img/banner/home8-bg-middle.jpg');
    background-position: top;
    background-repeat: no-repeat;
    padding: 45px 0;
    overflow: hidden;

    @include media(md) {
        background-size: cover;
    }

    @include media(xl) {
        padding: 45px 0;
    }

    .container {
        padding: 45px 0;

        @include media(md) {
            background: rgba($color-white, 0.6);
        }

        .element {

            text-align: center;
            transform: translateY(50%);

            .top {
                font-weight: 700;
                color: #444444;
                font-family: "Red Hat Display", Sans-serif;
                font-size: 20px;
                margin-bottom: 15px;

                span {
                    color: $color-primary;
                }
            }

            .heading {
                font-weight: 700;
                font-size: 48px;
                line-height: 1.2em;
                margin-bottom: 28px;

                @include media(md) {
                    font-size: 26px;
                }
            }

            .markdown {
                font-size: 16px;
                font-weight: 700;
                margin: 10px 0;
            }

            .btn {
                padding: 15px 30px;
                margin-top: 20px;

                i {
                    margin-left: 20px;
                }
            }

        }

    }
}

.subcriber {

    background-image: url('../img/banner/bg-newsleter-fashion-1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container {

        .element-container {
            padding-left: 35px;
            padding-right: 35px;
            max-width: 930px;
            margin: 0 auto;
            text-align: center;
            background: rgba($color-white, 0.8);
            color: $color-grey;

            h2 {
                color: black;
                font-size: 32px;
                margin-bottom: 10px;

                @include media(xs) {
                    font-size: 30px;
                }
            }


            .sub {
                max-width: 690px;
                margin: 33px auto;

                input {
                    flex: 1;
                    font-size: 16px;
                    background: transparent;
                    border: 2px solid #e5e5e5;
                    height: 45px;
                    border-radius: 5px;
                    padding: 10px;
                }

                .btn {
                    margin-left: 10px;
                    padding: 12px 30px;
                }

                @include media(xs) {
                    flex-wrap: wrap;

                    input {
                        width: 100%;

                    }

                    .btn {
                        margin-top: 20px;
                        margin-left: 0px;
                        width: 100%;
                    }

                }
            }
        }
    }
}

section.serve {
    background: $color-bg-2;

    @include media(xs) {
        padding: 40px 0;
    }

    .container {
        .services {
            justify-content: center;

            .service {

                justify-content: center;
                text-align: center;


                @include media (md) {


                    &:nth-child(2) {

                        .content {
                            border: none !important;

                        }

                    }

                    &:last-child {
                        border-top: 1px solid $color-border-grey;
                    }

                    .btn {
                        display: none;
                    }
                }

                @include media (xs) {

                    .content {
                        border: none !important;
                        display: flex;
                        text-align: left;
                        align-items: center;
                        padding: 20px 0px;

                        .des {

                            margin-left: 20px;

                        }
                    }


                    &:not(:last-child) {

                        border-bottom: 1px solid $color-border-grey;

                    }


                }


                .content {
                    @include media(md) {}

                    a {
                        img {

                            &:hover {
                                animation: leftRight 0.8s forwards;

                            }
                        }
                    }

                    h4 {
                        margin: 10px 0px;
                    }

                    p {
                        margin-bottom: 20px;
                        color: $color-i;
                    }

                }

                >a {
                    font-size: 14px;
                    align-items: flex-end;

                    i {
                        font-size: 18px;
                        margin-left: 10px;
                        color: $color-i;
                    }
                }

                &:not(:last-child) {

                    .content {

                        border-right: 1px solid #DFDFDF;

                    }
                }

            }
        }
    }
}

.blog {

    .container {

        #blog {
            position: relative;
            display: flex;

            .item {

                a.link {
                    .img {
                        overflow: hidden;

                        img {
                            width: 100%;
                            transition: all .6s;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }

                    p {
                        margin-top: 20px;
                        color: $color-primary;
                        font-weight: 700;
                        font-size: 16px;

                        span {
                            font-weight: 100;
                            color: $color-i;
                            font-size: 14px;
                        }

                    }

                    h2.heading {

                        font-size: 24px;
                        line-height: 1;
                        margin: 10px 0 12px 0;
                        transition: all .6s;

                        &:hover {

                            color: $color-primary;

                        }
                    }


                }

                .des {
                    color: #444444;
                    word-wrap: break-word;
                    line-height: 32px;
                }

                .btn {

                    display: inline-block;
                    padding: 12px 30px;
                    margin-top: 20px;
                    border-radius: 3px;
                    border: 2px solid $color-border-grey;
                    font-size: 14px;

                    &:hover {

                        color: $color-white;
                        background: $color-primary;
                        border-color: $color-primary;

                    }

                    i {

                        margin-left: 10px;

                    }
                }

            }

            .owl-nav {

                @include owlnav(0, -20px, -20px);

                button {
                    background: rgba(black, 0.6);
                }
            }

            &:hover {
                .owl-nav {
                    opacity: 1;
                }
            }

        }

        .title {
            margin-bottom: 30px;
        }
    }

}

.instagram {
    background: $color-bg-2;
    padding-bottom: 0;
    margin-bottom: 40px;

    .container {
        .sub {
            margin-bottom: 25px;
        }
    }

    .list-img {
        margin: 0;

        .item {
            padding: 0px;

            img {
                width: 100%;
                height: 100%;
                transition: all .8s;

                &:hover {

                    opacity: 0.8;

                }
            }
        }

    }

}

.slider-brand {
    margin-bottom: 30px;
}

.quickview {
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 30;
    background: rgba(black, 0.8);
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;

    &.active {
        opacity: 1;
        visibility: visible;

        .modal {

            transform: rotateX(0deg) translateY(0);
        }
    }

    .modal {
        height: 540px;
        transition: all .6s;
        transform-origin: 50% 50%;
        background: #fff;
        margin: 0% auto;
        max-width: 870px;
        padding: 0;
        position: absolute;
        width: 90%;
        transform: rotateX(90deg) translateY(0);

        .item-modal {
            width: 50%;
            position: relative;
            overflow: hidden;

            .owl-nav {

                @include owlnav(0, 10px, 10px);

                button {
                    background: rgba(black, 0.6);
                }
            }

            &:hover {
                .owl-nav {
                    opacity: 1;
                }

                .viewDetails {
                    transform: translateY(0);
                }
            }

            .viewDetails {
                position: absolute;
                display: block;
                width: 100%;
                background: black;
                text-align: center;
                padding: 20px 0;
                bottom: -1px;
                border-radius: 0;
                z-index: 30;
                transform: translateY(100%);

                &:hover {
                    background: $color-primary;
                }

            }
        }

        .star {
            i {
                color: $color-primary;
            }
        }

        .content {
            padding: 40px;
            overflow: auto;

            a {
                font-size: 24px;
                display: block;
                font-weight: 700;
                margin-bottom: 15px;
                transition: all .4s;

                &:hover {
                    color: #ba933e;
                }
            }

            .price {
                font-weight: 700;
                margin: 10px 0 20px;
            }

            .action {
                margin-bottom: 40px;

                .cotrol-item {
                    border-radius: 4px;
                    background-color: #f5f5f5;
                    display: inline-flex;
                    padding: 0px 5px;
                    padding-top: 5px;
                    margin-right: 10px;

                    input {
                        background-color: transparent;
                        width: 40px;
                        text-align: center;
                        height: 50px;
                    }

                    a {
                        margin-bottom: 0px;

                    }
                }

                .addcartitem {
                    background: black;
                    padding: 15px 20px;
                    color: $color-white;
                    cursor: pointer;

                    &:hover {
                        background: $color-primary;
                    }
                }

            }

            .des {
                border-bottom: 1px solid #e5e5e5;
                margin: 0 0 30px;
                padding: 0 0 20px;
                font-weight: 400;
                font-size: 16px;
                color: #444;
                line-height: 24px;
            }

            &::-webkit-scrollbar-thumb {
                background: #999;
                border-radius: 10px;
                width: 3px;
            }

            &::-webkit-scrollbar-track {
                background: #ccc;
            }

            &::-webkit-scrollbar {
                width: 8px;
                background-color: #F5F5F5;
            }
        }

        .close {
            position: absolute;
            top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            right: 20px;
            font-size: 36px;
            width: 30px;
            border-radius: 50%;
            height: 30px;
            color: $color-primary;
            border: 2px solid $color-primary;
        }
    }


}

.compare-product {
    z-index: 35;
    background: rgba($color-white, 0.8);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;

    &-box {
        transform: translate(200%, -50%);
        transition: all .6s;
        border: 10px solid rgb(79, 79, 79);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        height: 80%;
        background: white;

        .heading {
            font-size: 32px;
            font-weight: 700;
            text-align: center;
            padding: 20px 0;
            color: $color-i;
            background: rgb(79, 79, 79);
            color: $color-white;
        }

        overflow: auto;

        .content {
            overflow: auto;
            width: max-content;
            border-collapse: collapse;

            .odd {

                background: $color-bg-grey;

            }

            tr {
                text-align: center;

                td {
                    padding: 20px;
                    min-width: 200px;
                    border-right: 1px solid rgb(231, 231, 231);
                    border-top: 1px solid rgb(231, 231, 231);
                    border-bottom: none;
                    border-left: none;
                    border-collapse: collapse;

                    &:first-child {
                        font-weight: 700;
                    }

                    .btn {

                        padding: 12px 20px;

                    }

                    &.removeCompareItem {

                        cursor: pointer;
                        font-size: 20px;
                    }
                }

                img {
                    width: 100px;
                }

            }

        }

        &::-webkit-scrollbar-thumb {
            background: #999;
            border-radius: 10px;
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            background: #ccc;
        }

        &::-webkit-scrollbar {
            width: 8px;
            background-color: #F5F5F5;
        }

        >.close {

            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 32px;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 2px solid $color-primary;
            color: $color-primary;
            cursor: pointer;
            transition: all .4s;

            &:hover {

                background: $color-primary;
                color: $color-white;

            }
        }
    }



    &.active {

        opacity: 1;
        visibility: visible;

        .compare-product-box {

            transition: all 0.6s;
            transform: translate(-50%, -50%);

        }
    }

}

.popup-product-added {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    padding: 7px 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}