@import './reset';
@import './color';
@import './general';
@import './grid';
@import './animation';

@mixin owlnav ($val, $left, $right) {
    position: absolute;
    transition: all .4s;
    top: 50%;
    transform: translateY(-100%);
    color: $color-white;
    align-items: center;
    display: flex;
    opacity: $val;
    justify-content: space-between;
    width: 100%;

    button {

        border-radius: 50%;
        width: 50px;
        height: 50px;
        align-items: center;
        display: flex;
        justify-content: center;
        cursor: none;
        position: absolute;
        transition: 0.4s;

        &:hover {
            background-color: $color-primary;
        }

        &.owl-prev {
            left: $left;
        }

        &.owl-next {
            right: $right;
            left: auto;
        }
    }
}

header {

    .header_first {
        font-size: 14px;
        background-color: $color-bg-grey;

        .container {
            max-width: 100%;
            width: 97%;

            a {
                transition: all .4s;

                i {
                    color: $color-grey;
                    transition: all .4s;
                }

                &:hover {
                    color: $color-primary;

                    i {
                        color: inherit;
                    }

                }
            }

            .header_first-contact {
                justify-self: flex-start;

                a {
                    display: flex;
                    align-items: flex-end;

                    &:first-child {

                        margin-right: 40px;
                    }

                    display: block;
                    font-weight: 100;

                    i {
                        margin-right: 5px;
                        font-size: 14px;
                    }
                }

            }

            .outstanding {
                justify-self: center;
                padding: 22px 0px;

                .content {

                    .btn {
                        display: inline-block;
                        border-radius: 5px;
                        background-color: $color-primary;
                        color: $color-white;
                        font-weight: 700;
                        padding: 3px 8px;
                        font-size: 14px;
                        margin-left: 8px;
                    }
                }
            }

            .menu {

                justify-self: flex-end;

                ul {
                    li {
                        position: relative;

                        a {
                            display: inline-block;
                            padding: 5px 10px;
                        }
                    }
                }

                .region {
                    ul {
                        li {
                            a {
                                i {
                                    font-size: 8px;
                                    margin-left: 3px;
                                }
                            }

                            &:hover {
                                .second-nav {
                                    opacity: 1;
                                    visibility: visible;
                                    transform: translateY(0%);
                                }
                            }


                            ul.second-nav {
                                position: absolute;
                                background: $color-white;
                                box-shadow: 0px 2px 4px rgba(black, 0.1);
                                right: 0;
                                padding: 15px;
                                border-radius: 0 0 5px 5px;
                                min-width: 150px;
                                top: 30px;
                                opacity: 0;
                                visibility: hidden;
                                transition: all .2s;
                                transform: translateY(10%);

                                li {
                                    width: 100%;

                                    a {
                                        padding: 5px 10px;
                                        color: $color-i;
                                        display: block;

                                        &:hover {
                                            color: $color-primary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &-icon {
                    ul {
                        li {
                            a {
                                i {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .main-header {
        font-size: 16px;
        box-shadow: 0px 0px 3px #ccc;

        .container {
            max-width: 100%;
            width: 97%;

            li {

                i {
                    font-size: 16px;
                    color: $color-grey;
                }

                &:hover {

                    >a {
                        color: $color-primary;

                        i {
                            color: $color-primary;
                        }
                    }

                }
            }

            .logo {
                flex: 1;
                height: 85px;
                display: flex;
                align-items: center;

                img {
                    max-width: 130px;
                }
            }

            nav.main-nav {
                flex: 2;
                padding: 0 5px;
                justify-content: center;
                display: flex;

                ul {

                    text-align: center;

                    li {

                        position: relative;

                        a {
                            display: flex;
                            align-items: center;
                            padding: 17px 24px;
                            transition: all .4s;
                            height: 85px;

                            i {
                                margin-top: 3px;
                                font-size: 10px;
                                margin-left: 7px;
                            }

                            &.active {
                                color: $color-primary;

                                i {
                                    color: $color-primary;
                                }
                            }


                        }

                        .second-nav {
                            position: absolute;
                            top: 100%;
                            left: 0px;
                            min-width: 200px;
                            background: $color-white;
                            box-shadow: 0px 6px 15px rgba(black, 0.1);
                            visibility: hidden;
                            transition: all .5s;
                            transform-origin: top;
                            transform: scaleY(0);
                            z-index: 10;

                            a {
                                height: auto;
                            }
                        }

                        .second-nav1 {
                            min-width: 1400px;
                            margin: 0 auto;
                            background-image: url(https://blueskytechco.com/rubix/wp-content/uploads/2021/05/bg_update.png);
                            background-repeat: no-repeat;
                            background-attachment: scroll;
                            background-position: center right;
                            background-size: auto;
                            padding: 20px;
                            position: absolute;
                            // left: 50%;
                            transform: translateX(-100%);
                            visibility: hidden;

                            .list-item {

                                .heading {
                                    font-weight: 700;
                                    font-size: 18px;
                                }
                            }
                        }

                        &:hover {

                            .second-nav {
                                visibility: visible;
                                transform: scaleY(1);

                            }

                        }

                    }
                }
            }

            .menu {
                flex: 1;
                justify-content: flex-end;

                i {

                    font-size: 18px;
                }

                .login-regis {
                    border-right: 1px solid #ccc;
                    padding-right: 30px;

                    a {
                        &:hover {
                            color: $color-primary;

                            i {
                                color: $color-primary;

                            }
                        }
                    }

                    i {
                        margin-right: 10px;
                    }


                }

                .mini-menu {
                    margin-left: 15px;

                    ul {
                        li {
                            position: relative;

                            a {
                                display: inline-block;
                                padding: 0px 20px;


                                &:hover {
                                    color: $color-primary;

                                    i {
                                        color: $color-primary;
                                    }
                                }
                            }


                            &.item {

                                .before {

                                    width: 12px;
                                    height: 12px;
                                    position: absolute;
                                    top: -5px;
                                    right: 5px;
                                    font-size: 14px;

                                }

                            }

                        }
                    }
                }
            }
        }

        &.active {
            position: fixed;
            z-index: 11;
            width: 100%;
            top: 0;
            background: #fff;
            animation: down 1s forwards;
        }
    }
}

.form-search {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 15;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;
    transform: translateY(-300px);

    .container-element {

        h2 {
            margin-top: 110px;
            font-size: 30px;
        }

        ul {
            width: 100%;
            justify-content: center;
            margin: 30px 0;

            li {
                margin: 10px 10px;

                &.active {
                    color: $color-primary;
                }
            }
        }

        .searchProduct {
            width: 100%;
            border-bottom: 1px solid $color-border-grey;

            input {
                flex-grow: 2;
                font-size: 18px;
                padding-left: 10px;
                padding-bottom: 15px;
            }

            i {
                font-size: 18px;
                padding-right: 20px;
                cursor: pointer;
            }
        }
    }

    .close {
        position: absolute;
        top: 40px;
        right: 40px;
        font-size: 40px;
        cursor: pointer;
    }

    &.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

.cart {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(black, 0.6);
    z-index: 21;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;


    .products-cart {
        transform: translateX(100%);
        width: 340px;
        height: 100vh;
        background: white;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 22;
        transition: all .6s;

        h4 {
            padding: 20px 30px;
            background: $color-bg-grey;
            font-size: 18px;

        }

        span.close {
            position: absolute;
            font-size: 30px;
            top: 10px;
            right: 20px;
            cursor: pointer;
        }

        .mini-cart {
            flex-direction: column;
            padding: 30px;
            display: none;

            &-list {

                height: 100%;
                width: 100%;

                #mini-cart-product {
                    overflow: auto;
                    max-height: 666px;
                    transition: all 1s;

                    li {
                        margin-bottom: 15px;
                        position: relative;

                        a {
                            display: block;

                            img {
                                width: 70px;
                                margin-right: 15px;
                            }

                            &:hover {
                                color: $color-primary;
                            }
                        }

                        .quantity {
                            font-size: 14px;
                            width: 50%;
                            position: relative;

                            a {
                                font-weight: 700;
                                color: $color-i;
                                line-height: 1.4;
                                font-size: 14px;

                            }

                            span {
                                margin: 10px 0;
                            }

                        }

                        .erase {
                            position: absolute;
                            right: 20px;
                            top: 0px;
                            cursor: pointer;
                            font-size: 30px;

                        }
                    }

                    &::-webkit-scrollbar-thumb {
                        background: #999;
                        border-radius: 10px;
                        width: 3px;
                    }

                    &::-webkit-scrollbar-track {
                        background: #ccc;
                    }

                    &::-webkit-scrollbar {
                        width: 4px;
                        background-color: #F5F5F5;
                    }
                }
            }

            &-bottom {
                width: 100%;
                margin-top: 30px;

                .total {
                    position: relative;
                    flex: 1 1 auto;
                    overflow: auto;
                    width: 100%;
                    height: 100%;
                    font-size: 18px;
                    margin-bottom: 25px;

                    strong {

                        color: $color-i;

                    }

                    .sub-total {

                        color: $color-primary;
                        font-weight: 700;

                    }
                }

                .group-btn {

                    .btn {

                        width: 100%;
                        display: block;
                        text-align: center;
                        padding: 15px 30px;
                        font-size: 16px;
                        font-weight: 100;
                        margin-bottom: 15px;

                    }

                }

            }

            &.active {
                display: flex;
            }

        }

        .no-product {
            padding-left: 40px;
            margin-top: 30px;

            &.active {
                display: none;
            }
        }

    }

    &.active {
        visibility: visible;
        opacity: 1;

        .products-cart {
            transform: translateX(0);
        }
    }

}

footer#footer {
    background: $color-i;
    color: $color-white;

    a {
        color: $color-footer;

        i {

            color: white;
        }
    }

    .top {
        border-bottom: 1px solid #313131;

        .container {

            .list-footer {

                .item-footer {
                    .heading {
                        font-size: 16px;
                        font-weight: 700;
                        margin-bottom: 15px;
                        margin-top: -7px;
                    }

                    a {
                        font-size: 14px;
                    }

                    .list-icon {
                        margin-top: 26px;

                        li {
                            a {
                                display: inline-block;
                                margin-right: 30px;

                                i {
                                    font-size: 27px;
                                }
                            }
                        }
                    }

                    .list-contact {
                        li {
                            a {
                                display: block;
                                padding: 4px 0px;
                            }
                        }
                    }

                    .content {
                        i {
                            color: $color-footer;
                            font-size: 20px;
                            margin-right: 10px;
                        }

                        font-size: 14px;
                        color: $color-footer;

                        .main-content {
                            line-height: 26px;

                            span {
                                // margin-top: 10px;
                                display: block;
                                text-decoration: underline;
                            }
                        }

                    }

                    .address {
                        margin-top: 25px;
                    }
                }
            }
        }
    }

    .copyright {
        padding: 30px 0;

        p {
            color: $color-footer;

            a {
                color: $color-white;
            }
        }
    }

}