@import './reset';
@import './color';
@import './general';
@import './grid';
@import './animation';

@mixin owlnav ($val, $left, $right) {
    position: absolute;
    transition: all .4s;
    top: 50%;
    transform: translateY(-100%);
    color: $color-white;
    align-items: center;
    display: flex;
    opacity: $val;
    justify-content: space-between;
    width: 100%;

    button {

        border-radius: 50%;
        width: 50px;
        height: 50px;
        align-items: center;
        display: flex;
        justify-content: center;
        cursor: none;
        position: absolute;
        transition: 0.4s;

        &:hover {
            background-color: $color-primary;
        }

        &.owl-prev {
            left: $left;
        }

        &.owl-next {
            right: $right;
            left: auto;
        }
    }
}


header {

    .header_first {
        font-size: 14px;
        background-color: $color-bg-grey;

        .container {
            max-width: 100%;
            width: 97%;

            a {
                transition: all .4s;

                i {
                    color: $color-grey;
                    transition: all .4s;
                }

                &:hover {
                    color: $color-primary;

                    i {
                        color: inherit;
                    }

                }
            }

            .header_first-contact {
                justify-self: flex-start;

                a {
                    display: flex;
                    align-items: flex-end;

                    &:first-child {

                        margin-right: 40px;
                    }

                    display: block;
                    font-weight: 100;

                    i {
                        margin-right: 5px;
                        font-size: 14px;
                    }
                }

            }

            .outstanding {
                justify-self: center;
                padding: 22px 0px;

                .content {

                    .btn {
                        display: inline-block;
                        border-radius: 5px;
                        background-color: $color-primary;
                        color: $color-white;
                        font-weight: 700;
                        padding: 3px 8px;
                        font-size: 14px;
                        margin-left: 8px;
                    }
                }
            }

            .menu {

                justify-self: flex-end;

                ul {
                    li {
                        position: relative;

                        a {
                            display: inline-block;
                            padding: 5px 10px;
                        }
                    }
                }

                .region {
                    ul {
                        li {
                            a {
                                i {
                                    font-size: 8px;
                                    margin-left: 3px;
                                }
                            }

                            &:hover {
                                .second-nav {
                                    opacity: 1;
                                    visibility: visible;
                                    transform: translateY(0%);
                                }
                            }


                            ul.second-nav {
                                position: absolute;
                                background: $color-white;
                                box-shadow: 0px 2px 4px rgba(black, 0.1);
                                right: 0;
                                padding: 15px;
                                border-radius: 0 0 5px 5px;
                                min-width: 150px;
                                top: 30px;
                                opacity: 0;
                                visibility: hidden;
                                transition: all .2s;
                                transform: translateY(10%);

                                li {
                                    width: 100%;

                                    a {
                                        padding: 5px 10px;
                                        color: $color-i;
                                        display: block;

                                        &:hover {
                                            color: $color-primary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &-icon {
                    ul {
                        li {
                            a {
                                i {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .main-header {
        font-size: 16px;
        box-shadow: 0px 0px 3px #ccc;

        .container {
            max-width: 100%;
            width: 97%;

            li {

                i {
                    font-size: 16px;
                    color: $color-grey;
                }

                &:hover {

                    >a {
                        color: $color-primary;

                        i {
                            color: $color-primary;
                        }
                    }

                }
            }

            .logo {
                flex: 1;
                height: 85px;
                display: flex;
                align-items: center;

                img {
                    max-width: 130px;
                }
            }

            nav.main-nav {
                flex: 2;
                padding: 0 5px;
                justify-content: center;
                display: flex;

                ul {

                    text-align: center;

                    li {

                        position: relative;

                        a {
                            display: flex;
                            align-items: center;
                            padding: 17px 24px;
                            transition: all .4s;
                            height: 85px;

                            i {
                                margin-top: 3px;
                                font-size: 10px;
                                margin-left: 7px;
                            }

                            &.active {
                                color: $color-primary;

                                i {
                                    color: $color-primary;
                                }
                            }


                        }

                        .second-nav {
                            position: absolute;
                            top: 100%;
                            left: 0px;
                            min-width: 200px;
                            background: $color-white;
                            box-shadow: 0px 6px 15px rgba(black, 0.1);
                            visibility: hidden;
                            transition: all .5s;
                            transform-origin: top;
                            transform: scaleY(0);
                            z-index: 10;

                            a {
                                height: auto;
                            }
                        }

                        .second-nav1 {
                            min-width: 1400px;
                            margin: 0 auto;
                            background-image: url(https://blueskytechco.com/rubix/wp-content/uploads/2021/05/bg_update.png);
                            background-repeat: no-repeat;
                            background-attachment: scroll;
                            background-position: center right;
                            background-size: auto;
                            padding: 20px;
                            position: absolute;
                            // left: 50%;
                            transform: translateX(-100%);
                            visibility: hidden;

                            .list-item {

                                .heading {
                                    font-weight: 700;
                                    font-size: 18px;
                                }
                            }
                        }

                        &:hover {

                            .second-nav {
                                visibility: visible;
                                transform: scaleY(1);

                            }

                        }

                    }
                }
            }

            .menu {
                flex: 1;
                justify-content: flex-end;

                i {

                    font-size: 18px;
                }

                .login-regis {
                    border-right: 1px solid #ccc;
                    padding-right: 30px;

                    a {
                        &:hover {
                            color: $color-primary;

                            i {
                                color: $color-primary;

                            }
                        }
                    }

                    i {
                        margin-right: 10px;
                    }


                }

                .mini-menu {
                    margin-left: 15px;

                    ul {
                        li {
                            position: relative;

                            a {
                                display: inline-block;
                                padding: 0px 20px;


                                &:hover {
                                    color: $color-primary;

                                    i {
                                        color: $color-primary;
                                    }
                                }
                            }


                            &.item {

                                &:before {

                                    content: '0';
                                    width: 12px;
                                    height: 12px;
                                    position: absolute;
                                    top: -10px;
                                    right: 5px;

                                }

                            }

                            &.cart-item {
                                &::before {
                                    content: '8';
                                }
                            }
                        }
                    }
                }
            }
        }

        &.active {
            position: fixed;
            z-index: 11;
            width: 100%;
            top: 0;
            background: #fff;
            animation: down 1s forwards;
        }
    }
}

.form-search {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 15;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;
    transform: translateY(-300px);

    .container-element {

        h2 {
            margin-top: 110px;
            font-size: 30px;
        }

        ul {
            width: 100%;
            justify-content: center;
            margin: 30px 0;

            li {
                margin: 10px 10px;

                &.active {
                    color: $color-primary;
                }
            }
        }

        .searchProduct {
            width: 100%;
            border-bottom: 1px solid $color-border-grey;

            input {
                flex-grow: 2;
                font-size: 18px;
                padding-left: 10px;
                padding-bottom: 15px;
            }

            i {
                font-size: 18px;
                padding-right: 20px;
                cursor: pointer;
            }
        }
    }

    .close {
        position: absolute;
        top: 40px;
        right: 40px;
        font-size: 40px;
        cursor: pointer;
    }

    &.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

.cart {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(black, 0.6);
    z-index: 21;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;


    .products-cart {
        transform: translateX(100%);
        width: 340px;
        height: 100vh;
        background: white;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 22;
        transition: all .6s;

        h4 {
            padding: 20px 30px;
            background: $color-bg-grey;
            font-size: 18px;

        }

        span.close {
            position: absolute;
            font-size: 30px;
            top: 10px;
            right: 20px;
            cursor: pointer;
        }

        .mini-cart {
            flex-direction: column;
            padding: 30px;

            &-list {

                height: 100%;
                width: 100%;

                #mini-cart-product {
                    overflow: auto;
                    max-height: 666px;

                    li {

                        a {
                            display: block;

                            img {
                                width: 70px;
                                margin-right: 15px;
                            }

                            &:hover {
                                color: $color-primary;
                            }
                        }

                        .quantity {
                            font-size: 14px;

                            a {
                                font-weight: 700;
                                color: $color-i;
                                line-height: 1.4;
                                font-size: 14px;

                            }

                            span {
                                margin: 10px 0;
                            }
                        }
                    }

                    &::-webkit-scrollbar-thumb {
                        background: #999;
                        border-radius: 10px;
                        width: 3px;
                    }

                    &::-webkit-scrollbar-track {
                        background: #ccc;
                    }

                    &::-webkit-scrollbar {
                        width: 4px;
                        background-color: #F5F5F5;
                    }
                }
            }

            &-bottom {
                width: 100%;
                margin-top: 30px;

                .total {
                    position: relative;
                    flex: 1 1 auto;
                    overflow: auto;
                    width: 100%;
                    height: 100%;
                    font-size: 18px;
                    margin-bottom: 25px;

                    strong {

                        color: $color-i;

                    }

                    .sub-total {

                        color: $color-primary;
                        font-weight: 700;

                    }
                }

                .group-btn {

                    .btn {

                        width: 100%;
                        display: block;
                        text-align: center;
                        padding: 15px 30px;
                        background: $color-i;
                        color: $color-white;
                        font-size: 16px;
                        font-weight: 100;
                        margin-bottom: 15px;

                    }

                }

            }

        }

    }

    &.active {
        visibility: visible;
        opacity: 1;

        .products-cart {
            transform: translateX(0);
        }
    }

}

.slider {
    .owl-carousel {

        .item {
            position: relative;

            .content {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);

                .container {

                    .title-sale {
                        color: #444444;
                        font-size: 20px;
                        font-weight: 700;

                        span {
                            color: $color-primary;
                        }
                    }

                    h2 {
                        font-size: 48px;
                        margin-top: 15px;
                        margin-bottom: 25px;
                    }

                    .btn {
                        padding: 9px 30px 11px;
                        border-radius: 4px;
                        line-height: 32px;
                    }

                }
            }
        }

        .owl-nav {
            @include owlnav(0, 20px, 20px);

            button {
                cursor: pointer;

                &.owl-prev,
                &.owl-next {
                    background: rgba($color-white, 0.8);
                    color: $color-i;

                    &:hover {
                        color: $color-white;
                        background: $color-primary;
                    }
                }

            }

        }

        .owl-dots {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -100%);

            .owl-dot {

                span {
                    background: $color-primary;
                    width: 12px;
                    height: 12px;
                }

                &:hover {
                    span {
                        background: $color-primary;
                    }
                }

                &.active {
                    span {
                        box-sizing: content-box;
                        background: none;
                        border: 2px solid $color-primary;
                    }

                }
            }
        }

        &:hover {
            .owl-nav {
                opacity: 1;
            }
        }
    }

}

.trending {

    .container {

        .banners {
            margin-bottom: 80px;

            .banner {
                position: relative;

                img {
                    width: 100%;
                }

                .content {
                    position: absolute;
                    top: 30%;
                    left: 40%;
                    transform: translate(-80%, -70%);

                    h4 {
                        margin-bottom: 5px;

                        a {
                            font-family: "Red Hat Display", Sans-serif;
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 1;

                        }
                    }

                    span {
                        text-decoration: underline;
                        color: $color-primary;
                        font-weight: 700;
                        font-size: 14px;
                    }
                }

            }

        }

        .trending-product {

            .products {
                .product {
                    margin-top: 20px;
                    position: relative;
                    overflow: hidden;

                    .img {
                        overflow: hidden;
                        display: inline-block;
                        position: relative;

                        a:first-child {

                            height: 420px;
                            display: block;
                            z-index: 1;

                            img {
                                object-fit: cover;
                                object-position: center;
                                width: 100%;
                                transition: all .5s;

                                &:nth-child(2) {
                                    opacity: 0;
                                    top: 0;
                                    left: 0;
                                    position: absolute;
                                    z-index: 2;
                                }
                            }
                        }

                        .btn {
                            width: 90%;
                            margin: 0 auto;
                            display: inline-block;
                            padding: 10px 0px;
                            background: black;
                            color: white;
                            text-align: center;
                            border-radius: 5px;
                            transition: all .3s;
                            position: absolute;
                            bottom: 0px;
                            left: 50%;
                            transform: translate(-50%, 100%);
                            opacity: 0;
                            font-weight: bold;
                            z-index: 3;

                            i {
                                margin-right: 5px;
                            }

                            &:hover {
                                background: $color-primary;

                            }
                        }

                        .action {
                            position: absolute;
                            top: 10px;
                            right: 10px;

                            li {
                                position: relative;
                                width: 40px;
                                height: 40px;
                                background: $color-white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin: 10px 4px;
                                cursor: pointer;
                                z-index: 3;
                                transform: translateX(60px);
                                transition: 0.5s;
                                border-radius: 5px;
                                color: $color-grey;

                                span {
                                    position: absolute;
                                    z-index: 3;
                                    right: 50px;
                                    top: 50%;
                                    transform: translateY(-50%) translateX(-20%);
                                    white-space: nowrap;
                                    background: $color-white;
                                    color: #333;
                                    font-size: 12px;
                                    border-radius: 4px;
                                    padding: 4px 6px;
                                    pointer-events: none;
                                    opacity: 0;
                                    transition: .5s;

                                    &::before {
                                        content: '';
                                        position: absolute;
                                        top: 50%;
                                        right: -4px;
                                        width: 8px;
                                        height: 8px;
                                        background: #fff;
                                        transform: translateY(-50%) rotate(45deg);
                                    }
                                }

                                &:hover {
                                    background: $color-primary;
                                    color: $color-white;

                                    span {
                                        transform: translateY(-50%) translateX(0%);
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                    }

                    &:hover {

                        .img {
                            a {
                                img:nth-child(2) {
                                    opacity: 1;
                                }
                            }

                            .btn {
                                opacity: 1;
                                transform: translate(-50%, -50%);
                            }

                            ul.action {
                                li {
                                    transform: translateX(0px);

                                }
                            }
                        }
                    }

                    .content-pro {

                        h4 {
                            margin-top: 10px;
                        }

                        .price {
                            font-size: 14px;
                            padding: 5px 0px;
                            color: $color-grey;
                        }

                    }
                }
            }
        }
    }
}

.title {
    text-align: center;

    h3 {
        span {
            font-size: 28px;
            font-weight: bold;
        }

        margin-bottom: 7px;
    }

    .sub {
        p {
            font-size: 16px;
        }

        margin-bottom: 50px;
    }
}

section.banner {

    background-image: url('../img/banner/home8-bg-middle.jpg');
    background-position: top;
    background-repeat: no-repeat;

    .container {
        padding: 174px 0px;

        .element {

            text-align: center;

            .top {
                font-weight: 700;
                color: #444444;
                font-family: "Red Hat Display", Sans-serif;
                font-size: 20px;
                margin-bottom: 15px;

                span {
                    color: $color-primary;
                }
            }

            .heading {
                font-weight: 700;
                font-size: 48px;
                line-height: 1.2em;
                margin-bottom: 28px;
            }

            .markdown {
                font-size: 16px;
                font-weight: 700;
                margin: 10px 0;
            }

            .btn {
                padding: 15px 30px;
                margin-top: 20px;

                i {
                    margin-left: 20px;
                }
            }

        }

    }
}

.subcriber {

    background-image: url('../img/banner/bg-newsleter-fashion-1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container {

        .element-container {
            max-width: 930px;
            margin: 0 auto;
            text-align: center;
            background: rgba($color-white, 0.8);
            color: $color-grey;

            h2 {
                color: black;
                font-size: 32px;
            }

            .sub {
                max-width: 690px;
                margin: 33px auto;

                input {
                    flex: 1;
                    font-size: 16px;
                    background: transparent;
                    border: 2px solid #e5e5e5;
                    height: 45px;
                    border-radius: 5px;
                    padding: 10px;
                }

                .btn {
                    margin-left: 10px;
                    padding: 12px 30px;
                }
            }
        }
    }
}

section.serve {
    background: $color-bg-2;

    .container {
        .services {
            .service {

                justify-content: center;
                text-align: center;

                .content {

                    a {
                        img {

                            &:hover {
                                animation: leftRight 0.8s forwards;

                            }
                        }
                    }

                    h4 {
                        margin: 10px 0px;
                    }

                    p {
                        margin-bottom: 20px;
                        color: $color-i;
                    }

                }

                >a {
                    font-size: 14px;
                    align-items: flex-end;

                    i {
                        font-size: 18px;
                        margin-left: 10px;
                        color: $color-i;
                    }
                }

                &:not(:last-child) {

                    .content {

                        border-right: 1px solid #DFDFDF;

                    }
                }

            }
        }
    }
}

.blog {

    .container {

        #blog {
            position: relative;
            display: flex;

            .item {

                a.link {
                    .img {
                        overflow: hidden;

                        img {
                            width: 100%;
                            transition: all .6s;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }

                    p {
                        margin-top: 20px;
                        color: $color-primary;
                        font-weight: 700;
                        font-size: 16px;

                        span {
                            font-weight: 100;
                            color: $color-i;
                            font-size: 14px;
                        }

                    }

                    h2.heading {

                        font-size: 24px;
                        line-height: 1;
                        margin: 10px 0 12px 0;
                        transition: all .6s;

                        &:hover {

                            color: $color-primary;

                        }
                    }


                }

                .des {
                    color: #444444;
                    word-wrap: break-word;
                    line-height: 32px;
                }

                .btn {

                    display: inline-block;
                    padding: 12px 30px;
                    margin-top: 20px;
                    border-radius: 3px;
                    border: 2px solid $color-border-grey;
                    font-size: 14px;

                    &:hover {

                        color: $color-white;
                        background: $color-primary;
                        border-color: $color-primary;

                    }

                    i {

                        margin-left: 10px;

                    }
                }

            }

            .owl-nav {

                @include owlnav(0, -20px, -20px);

                button {
                    background: rgba(black, 0.6);
                }
            }

            &:hover {
                .owl-nav {
                    opacity: 1;
                }
            }

        }

    }

}

.instagram {
    background: $color-bg-2;
    padding-bottom: 0;
    margin-bottom: 40px;

    .container {
        .sub {
            margin-bottom: 25px;
        }
    }

    .list-img {
        margin: 0;

        .item {
            padding: 0px;

            img {
                width: 100%;
                height: 100%;
                transition: all .8s;

                &:hover {

                    opacity: 0.8;

                }
            }
        }

    }

}

.slider-brand {
    margin-bottom: 30px;
}

footer#footer {
    background: $color-i;
    color: $color-white;

    a {
        color: $color-footer;

        i {

            color: white;
        }
    }

    .top {
        border-bottom: 1px solid #313131;

        .container {

            .list-footer {

                .item-footer {
                    .heading {
                        font-size: 16px;
                        font-weight: 700;
                        margin-bottom: 15px;
                        margin-top: -7px;
                    }

                    a {
                        font-size: 14px;
                    }

                    .list-icon {
                        margin-top: 26px;

                        li {
                            a {
                                display: inline-block;
                                margin-right: 30px;

                                i {
                                    font-size: 27px;
                                }
                            }
                        }
                    }

                    .list-contact {
                        li {
                            a {
                                display: block;
                                padding: 4px 0px;
                            }
                        }
                    }

                    .content {
                        i {
                            color: $color-footer;
                            font-size: 20px;
                            margin-right: 10px;
                        }

                        font-size: 14px;
                        color: $color-footer;

                        .main-content {
                            line-height: 26px;

                            span {
                                // margin-top: 10px;
                                display: block;
                                text-decoration: underline;
                            }
                        }

                    }

                    .address {
                        margin-top: 25px;
                    }
                }
            }
        }
    }

    .copyright {
        padding: 30px 0;

        p {
            color: $color-footer;

            a {
                color: $color-white;
            }
        }
    }

}